* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 10px;
}

body {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 500px;
}

.middle {
    text-align: center;
    padding-top: 10px;
}

/* .container img {
    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover #image {
    opacity: 0.95;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
      border-radius: 10px;
    background-color: #04AA6D;
    color: white;
    font-size: 13px;
    padding: 16px 32px;
  } */


/* 
  things learned:
  I looked up how to create an image overlay.
  I liked the overlay but I would prefer if it dissappeared after displaying. But then I feel thats not great for functionality.
*/