* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover; /* this is neccesary to prevent the image from being stretched*/
    width: 100%;
    border-radius: 5px; 
}

body {
    display: flex; /* flex class is what am more familiar with hence the change*/
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
  overflow: hidden;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3); /**/
  cursor: pointer;
}

.container {
    display: flex;
    height: 500px;
    width: 500px;
    transition: 2s ease-in-out; /*set the image to scroll slower instead of just kutchiyose no jutsu.... also an advantage of loading all images at once*/
    transform: translate(0); /*set the initial value of its x position which will be later changed in  app.js in response to events*/
}

.middle {
    text-align: center;
    padding-top: 10px;
}

/* .container img {
    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover #image {
    opacity: 0.95;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
      border-radius: 10px;
    background-color: #04AA6D;
    color: white;
    font-size: 13px;
    padding: 16px 32px;
  } */


/* 
  things learned:
  I looked up how to create an image overlay.
  I liked the overlay but I would prefer if it dissappeared after displaying. But then I feel thats not great for functionality.
*/
